<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="This project explores doing some stock analysis">
    <meta name="keywords" content="python,flask">
    <meta charset="UTF-8">
    <meta name="application-name" content="StockAnalysis"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Analysis</title>
</head>
<body>
<!--The different functions that can be performed-->
<div align="center">
<form action="process" method="post">
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="what_if" checked/>
    <label>what if</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="max_day_increase"/>
    <label>max day increase</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="max_day_decrease"/>
    <label>max day decrease</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="max_day_percent_increase">
    <label>max day percent increase</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="max_day_percent_decrease">
    <label>max day percent decrease</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="max_month_increase"/>
    <label>max month</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="max_year_increase"/>
    <label>max year</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="top3"/>
    <label>top 3</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="download"/>
    <label>download</label>
    <br>
    <input type="radio" formenctype="application/x-www-form-urlencoded" name="convtype" value="refresh"/>
    <label>refresh</label>
    <br>
    <label>Date invested</label><input type="date" name="date_invested"/>
    <br>
    <label>Amount invested</label><input type="number" name="amount_invested" min="0.01" step="0.01"/>
    <br>
    <label>Stock</label><!--input type="text" name="symbol"/--> <select></select>
    <br>
    <input type="submit"/>
</form>
</div>
</body>
</html>